.menuRelatorio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;


  li{
    margin: 5px 10px;
    width: calc(100% - 50px);
    height: 60px;
  
    display: flex;
    align-items: center;
    justify-content: center;    
  
    cursor: pointer;
    background: var(--color-secundary);
    border-radius: var(--border-radius);
    transition: background 350ms ease;

    &:hover {
      background: var(--color-secundary-dark);
    }

    a {
      color: var(--color-box-base);
      font-size: 1.1rem;
      font-weight: 900;
      transition: color 350ms ease;
    }
  }
}


@media (min-width: 992px){
  .menuRelatorio{
    flex-direction: row;
    
    li {
      width: calc(100% / 3 - 90px);
      height: 60px;
    }
  }
}
