.home {
  width: 100%;
  padding: 5px 15px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .menuHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    li{
      margin: 5px 10px;
      width: calc(100% - 30px);
      height: 60px;
    
      display: flex;
      align-items: center;
      justify-content: center;
    
      cursor: pointer;
      background: var(--color-secundary);
      border-radius: var(--border-radius);
      transition: background 350ms ease;

      &:hover {
        background: var(--color-secundary-dark);
      }

      a {
        color: var(--color-box-base);
        font-size: 1.1rem;
        font-weight: 900;
        transition: color 350ms ease;
      }
    }
  }
}

@media (min-width: 992px){
  .home .menuHome{
    flex-direction: row;

    li {
      width: calc(100% / 4 - 50px);
      height: 60px;
    }
  }
}