html, body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-box-base);
  overflow-x: scroll;
  overflow-y: hidden;
}

body, 
input, 
button, 
textarea {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
}

input {
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

button {
  cursor: pointer;
  transition: all 250ms ease;
}

.container {
  width: 90vw;
  height: 100vh;
  max-width: 700px;
}

a {
  text-decoration: none;
  color: var(--color-box-base);
}

li, 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, 
h2,
h3, 
h4, 
h5 {
  margin: 0;
}

:root {
  --font-primary: Poppins;
  --font-secondary: Archivo;

  --color-background: #F0F0F7;

  --color-primary-menu: #c1a7ff;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;

  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;

  --color-title-in-primary: #FFFFFF;

  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;

  --color-line-in-white: #E6E6F0;

  --color-input-background: #F8F8FC;

  --color-button-text: #FFFFFF;

  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  --box-shadow: 0 0 100px rgba(0,0,0,.1);
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


header button{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-secundary);
  transition: all 350ms ease;
}

header button:hover{
  background: var(--color-secundary-dark);
}
